@CHARSET "UTF-8";

#form1{
	margin-left: 120px;
	margin-top: -10px;
}

#form1 div input{
/* 	height:24px; */
	margin-top: 3px;
}

#form1 div label{
	margin-top: 10px;
}


.offset-txt{
	margin-right:123px;
}

#div2{
	margin-left: 5px;
}

#div2 button{
	width:60px;
	height:24px;
	margin-top: 10px;
	margin-left: 10px;
	font-size: 13px;
}

#male{
	margin-top: 20px;
}

